<h1><%= t('add_new') %></h1>

<%= semantic_form_for @container, :url => containers_path, :html => { :multipart => true }, :validate => true do |f| %>
    <%= render 'containers/form', :f => f %>
<% end %>

<%= render 'containers/back_to_list' %>