/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require_tree .
 *= require formtastic
*/

@import 'variables';

* {
  font: $font;
  margin: 0;
  padding: 0;
}

body {
  background: $white;
  color: $dark-gray;
  min-width: $min-width;
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

.container {
  width: $min-width;
  margin: $margin-center;
}

.links {
  background: $dark-gray;
  color: $light-red;
  width: 100%;
  padding: 5px 0;
  text-align: right;
}

.header {
  background: $red;
  color: $white;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

h1 {
  font-size: $font-big;
  font-weight: bold;
}

h2 {
  font-size: $font-medium;
  font-weight: bold;
}

h1 span {
  color: $pink;
  font-size: inherit;
  font-weight: inherit;
}

.content h1 {
  margin: 10px 0 20px 0;
}

.content p {
  margin: 10px 0;
}

.content ul {
  list-style: disc inside;
}

.content ul li {
  margin: 10px 0;
}

.flash {
  background: $blue;
}

.flash ul {
  list-style: none;
}

.flash ul li {
  padding: 5px 10px;
}

.flash ul li span {
  font-style: italic;
}

.action_btn, .formtastic .input_action input {
  background: $red;
  color: $white;
  border: 1px solid $dark-gray;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.action_btn:hover, .formtastic .input_action input:hover {
  background: $light-red;
}

.nested_fields {
  border: 1px solid $dark-gray;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

hr {
  margin: 10px 0;
}

.pagination {
  margin: 10px 0;
}