@import "variables";

table, td, th {
  border: $table-border;
  border-collapse: collapse;
  text-align: center;
}

table {
  margin: 5px 0 15px 0;
  width: 980px;
}

td, th {
  padding: 5px;
}

td, th, td a {
  font-size: $font-small;
}

th {
  background: $dark-gray;
  color: $red;
  font-weight: bold;
}