$red: #c52f24;
$light-red: #ee3f3f;
$dark-gray: #222222;
$white: #ffffff;
$blue: #d5e9f6;
$pink: #f1938c;

$min-width: 980px;

$font: 16px sans-serif;
$font-big: 24px;

$margin-center: 0 auto;

$table-border: 1px solid $dark-gray;